
      img{
      width: 35%;
      }
      .color-block {
      float: left;
      position: relative;
      width: 100%;
      margin: 1px;
      padding-bottom: 100%;
      }
      .fa{
      font-size: 30px;
      padding: 10px;
      }

      .fa-trash-o{
      color: #dc3545;
      }
      .effects{
      border: 1px solid #fff;
      background: #fff;
      color: #888f96;
      }
      .effects:hover{
      background: #f7f3f3;
      transition: .4s;
      color: #000;
      cursor: pointer;
      transform: scale(1.03);
      border: 1px solid #f7f3f3;
      border-radius: 8px;
      }
      @media(max-width: 768px){
      .effects{
      text-align: center;
      margin: 20px;
      }
      .color-group{
      margin-right: 27%;
      float: none;
      text-align: center;
      }
      h2{
      text-align: center;
      }
      .pull-right{
      float: none;
      text-align: center;
      display: block;
      margin: 20px auto;
      }
      }
      @media (max-width: 576px){
      .container {
      max-width: 90%;
      }
      .effects{
      background: #e8e8e852;
      border-radius: 8px;
      margin: 10px;
      }
      .col-md-3 h4:nth-child(1){
      padding-top: 10px;
      font-size: 20px;
      }
      .fa{
      padding: 5px;
     
      }
      img{
      width: 45%;
      }
      h5{
      font-size: 14px;
      }
      h3{
      font-size: 15px;
      }
      .color-group{
      padding-top: 10px;
      padding-bottom: 10px;
      }
      }